/* Cliffwater Fund */
@font-face {
  font-family: 'verlag-black';
  src: url('/f/Verlag-Black.otf') format('opentype');
}
@font-face {
  font-family: 'verlag-bold';
  src: url('/f/Verlag-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'verlag-book';
  src: url('/f/Verlag-Book.otf') format('opentype');
}
@font-face {
  font-family: 'verlag-light';
  src: url('/f/Verlag-Light.otf') format('opentype');
}
@font-face {
  font-family: 'verlag-xlight';
  src: url('/f/Verlag-XLight.otf') format('opentype');
}
@font-face {
  font-family: 'verlag-lightit';
  src: url('/f/Verlag-LightItalic.otf') format('opentype');
}
*{margin:0;padding:0;outline:none;}
a{text-decoration:none;cursor:pointer;-webkit-tap-highlight-color: transparent !important; }
body,html{font-size:16px;font-family:'verlag-book',Arial;}
.content{margin:0 4%;width:92%;max-width:1160px;text-align:left;position:relative;}
.logo{width:342px;height:50px;background:url(/i/cliffwater-logo_white.svg) no-repeat center/cover;display:inline-block;}
.col{display:inline-block;vertical-align:top;box-sizing:border-box;width:50%;}
#container sup{cursor:pointer;}
nav ul{list-style:none;}
nav li{display:inline-block;margin-left:50px;}
nav li:first-child{margin-left:0;}
nav.n2 li{margin-left:20px;margin-top:12px;}
nav a{letter-spacing:0.175em;font-size:13px;font-family:'verlag-bold';text-transform:uppercase;display:inline-block;padding-bottom:6px;}
nav.n2 a{letter-spacing:0;text-transform:none;font-size:20px;font-family:'verlag-light';display:inline-block;color:#1f334c;}
nav.n2 li.on,nav.n2 a:hover{color:#25a2db;}
nav .btn-link{font-family:'verlag-book';color:#fff;transition:background 0.25s ease;border:1px solid #29a9e4;display:inline-block;padding:10px 20px;border-radius:20px;}
nav .btn-link:hover{background:#29A9E4;}
footer nav .btn-link{background:#29A9E4;}
header{z-index:10;position:fixed;left:0;top:0;width:100%;padding:45px 0;transition:background-color 0.25s ease,padding 0.25s ease;}
header .content{max-width:1305px;}
header nav{float:right}
header nav a{color:#fff;border-bottom:1px solid transparent;transition:border-color 0.25s ease, color 0.25s ease;}
header nav a:hover, header nav .on a{border-color:#29A9E4}
header nav.n2{display:none;}
header .logo{z-index:121;position:relative;}
.scroll header{background:#fff;box-shadow:0px 1px 4px 1px rgba(0,0,0,0.1);}
.scroll header .logo{background-image:url(/i/cliffwater-logo_color.svg);}
.scroll header nav a{color:#1f334c}
.scroll.overtop header{padding:20px 0;}
.scroll.overtop header nav.n1{display:none}
.scroll.overtop header nav.n2{display:block;}
.scroll.overtop header nav a:hover, .scroll.overtop header nav .on a{border-color:transparent;color:#29A9E4}
.scroll.overtop header #main-nav{margin-top:0;}
.scroll.intheater header nav.n1{display:block;}
.scroll.intheater header nav.n2{margin-top:30px;width:100%;border-top:1px solid #C2C5C7}
.scroll.intheater header nav.n2 li{margin-left:0;margin-top:0;}
.scroll.intheater header nav.n2 ul{width:100%;max-width:1305px;list-style:none;display:flex;flex-direction:row;width:100%;justify-content:space-between}
.scroll.intheater header nav.n2 li a{font-size:14px;font-family:'verlag-book';letter-spacing:0.2em;display:inline-block;padding:21px 20px;color:#1f334c;text-transform:uppercase;transition:all 0.25s ease;}
.scroll.intheater header nav.n2 li.on a,.scroll.intheater header nav.n2 li:hover a{color:#25a2db;background:#F3F6F9;}
.scroll.overtop.intheater header{padding-bottom:0;}
.scroll.overtop.intheater header #main-nav{margin-top:-40px;}
#main-nav{float:right;}
.nav-on header #main-nav{margin-top:0;float:none;background:#fff;display:flex;flex-direction:column;justify-content:center;align-items:center;align-content:center;position:fixed;left:0;top:0;width:100%;height:100%}
.nav-on header #main-nav nav{display:block !important;}
.nav-on header #main-nav nav li{padding:6px 0;display:block !important;margin:0 !important;width:100% !important;text-align:center;}
.nav-on header #main-nav nav li a{text-transform:uppercase !important;color:#1f334c !important;font-size:20px !important;font-family:'verlag-book' !important;letter-spacing:0.175em !important;}
.nav-on header #main-nav nav.n1{order:2}
.nav-on header #main-nav nav.n2{order:1}
.nav-on header #main-nav nav.n1 li:first-child{display:none !important;}
#btn-menu{user-select:none;display:none;z-index:102;position:absolute;right:0;top:15px;width:36px;height:30px;}
#btn-menu i{transition:all 0.2s ease-out;position:absolute;height:2px;width:36px;background-color:#fff;left:0;}
.scroll #btn-menu i{background-color:#1f334c;}
.nav-on #btn-menu.on i{background-color:#1f334c;}
.nav-on header .logo{background-image:url(/i/cliffwater-logo_color.svg);}
.nav-on.intheater header nav.n2 ul{display:block;}
.nav-on.intheater header nav.n2 li a{padding:0;}
.nav-on.intheater header nav.n2{border:none;margin-top:10px;}
.nav-on.overtop.intheater header #main-nav{margin-top:0;}
#btn-menu	i:nth-child(1){top:2px;}
#btn-menu	i:nth-child(2){top:14px;}
#btn-menu i:nth-child(3){top:26px;}
#btn-menu.on i{top:15px;width:40px;left:0;}
#btn-menu.on i:nth-child(1){transform:rotate(45deg);}
#btn-menu.on i:nth-child(2){opacity:0}
#btn-menu.on i:nth-child(3){transform:rotate(-45deg);}

footer .s1{background:#011E40;padding:100px 0 180px 0;}
footer nav{float:right}
footer nav a{color:#fff;border-bottom:1px solid transparent;transition:border-color 0.25s ease;}
footer nav a:hover{border-color:#29A9E4}
footer .s2{background:#042347;padding:50px 0;font-size:13px;text-transform:uppercase}
footer .s2 p{line-height:21px;color:#61748a;font-size:13px;letter-spacing:0.1em;font-family:'verlag-book';}
footer .s2 p span{color:#b8c7d8;}
footer .s2 a{display:inline-block;color:#b8c7d8;border-bottom:1px solid transparent;padding-bottom:5px;transition:border-color 0.25s ease;}
footer .s2 a:hover{border-color:#b8c7d8}

.theater{overflow:hidden;position:relative;background:url(/i/hero.jpg) no-repeat center/cover;height:100vh;}
.theater .content{top:50%;transform:translate(0,-50%);max-width:1305px;}
.theater h1{opacity:0;margin-bottom:70px;line-height:40px;letter-spacing:0.1em;text-align:center;font-size:46px;color:#29A9E4;text-transform:uppercase;font-family:'verlag-book';font-weight:normal}
.theater h1.in-view{transition:opacity 0.5s ease 0.5s;opacity:1;}
.theater h1 span{font-size:17px;line-height:20px;font-family:'verlag-bold';letter-spacing:0.2em;}
.theater h2{margin:20px 0;text-align:center;font-size:40px;font-family:'verlag-xlight';line-height:55px;font-weight:normal;}
.theater p{text-align:center;font-size:22px;line-height:36px;font-family:'verlag-xlight';}
.theater .col{min-height:320px;color:#fff;width:33.33%;padding:100px 20px 50px 20px;position:relative;}
.theater .col::before{opacity:0;transition:opacity 0.5s ease;content:"";display:block;position:absolute;bottom:0;left:50%;margin-left:-30px;background:url(/i/arrow_blue.svg) no-repeat center/50px auto;width:50px;height:15px;}
.theater .col:hover::before{opacity:1;}
.theater .col:nth-child(1){opacity:0;transform:translate(0,100px);background:url(/i/icon_weather.svg) no-repeat center top/90px auto;}
.theater .col.in-view:nth-child(1){transition:transform 0.5s ease 1s,opacity 0.5s ease 1s;opacity:1;transform:translate(0,0);}
.theater .col:nth-child(1)::after{content:"";position:absolute;display:block;width:1px;right:0;top:90px;height:calc(100% - 110px);background:rgb(92, 111, 136);}
.theater .col:nth-child(2){opacity:0;transform:translate(0,100px);background:url(/i/icon_partner.svg) no-repeat center top/90px auto;}
.theater .col.in-view:nth-child(2){transition:transform 0.5s ease 1.5s,opacity 0.5s ease 1.5s;opacity:1;transform:translate(0,0);}
.theater .col:nth-child(2)::after{content:"";position:absolute;display:block;width:1px;right:0;top:90px;height:calc(100% - 110px);background:rgb(92, 111, 136);}
.theater .col:nth-child(3){opacity:0;transform:translate(0,100px);background:url(/i/icon_authority.svg) no-repeat center top/90px auto;}
.theater .col.in-view:nth-child(3){transition:transform 0.5s ease 2s,opacity 0.5s ease 2s;opacity:1;transform:translate(0,0);}
.theater .btn-perf{padding-bottom:5px;border-bottom:1px solid transparent;transition:border-color 0.25s ease;position:absolute;bottom:90px;left:50%;transform:translate(-50%,0);color:#fff;text-align:center;font-family:'verlag-lightit';font-size:22px;padding-right:20px;background:url(/i/arrow_small_white.svg) no-repeat right center/14px auto;}
.theater .btn-perf:hover{border-color:#fff;}

.nav{border-bottom:1px solid #C2C5C7}
.nav .content{max-width:1305px;}
.nav ul{list-style:none;display:flex;flex-direction:row;width:100%;justify-content:space-between}
.nav li a{font-size:14px;font-family:'verlag-bold';letter-spacing:0.2em;display:inline-block;padding:40px 20px;color:#1f334c;text-transform:uppercase;transition:all 0.25s ease;}
.nav li.on a,.nav li:hover a{color:#25a2db;background:#F3F6F9;}

.overview{padding:90px 0;}
.overview .content > .col:first-child{width:33%;transform:translate(-50px,0);opacity:0}
.overview .content > .col:last-child{width:67%;transform:translate(50px,0);opacity:0}
.overview .content > .col.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.overview h2{font-weight:normal;font-family:'verlag-book';font-size:33px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
.overview h3{font-weight:normal;font-family:'verlag-light';font-size:39px;color:#073d76;}
.overview .boxes{margin:30px 0 10px 0;}
.overview .boxes > div{font-size:24px;color:#032247;font-family:'verlag-xlight';text-align:center;padding:20px;box-sizing:border-box;display:inline-block;width:calc(50% - 10px);background:#F4F8FB;vertical-align:top;margin-bottom:20px;}
.overview .boxes > div:nth-child(odd){margin-right:20px;}
.overview p{font-size:22px;color:#606771;font-family:'verlag-light';line-height:36px;}
.overview h4{font-variant-numeric: lining-nums;margin:30px 0 20px 0;font-weight:normal;font-family:'verlag-bold';font-size:17px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
.overview .stats{display:flex;flex-direction:row;align-content:flex-start;flex-wrap:wrap;}
.overview .stats > div{padding-bottom:10px;display:flex;align-items:center;flex-direction:row;justify-content:flex-start;position:relative;vertical-align:top;width:32%;box-sizing:border-box;}
.overview .stats > div:nth-child(1)::after{content:"";position:absolute;top:0;right:0;height:calc(100% - 10px);width:1px;background:#D4DAE8;}
.overview .stats > div:nth-child(2)::after{content:"";position:absolute;top:0;right:0;height:calc(100% - 10px);width:1px;background:#D4DAE8;}
.overview .stats > div:nth-child(4)::after{content:"";position:absolute;top:10px;right:0;height:calc(100% - 10px);width:1px;background:#D4DAE8;}
.overview .stats > div:nth-child(5)::after{content:"";position:absolute;top:10px;right:0;height:calc(100% - 10px);width:1px;background:#D4DAE8;}
.overview .stats > div:nth-child(1){padding-right:20px;}
.overview .stats > div:nth-child(2){width:36%;padding-left:20px;padding-right:20px;}
.overview .stats > div:nth-child(1)::before{content:"";position:absolute;bottom:0;left:0;width:calc(100% - 10px);height:1px;background:#D4DAE8;}
.overview .stats > div:nth-child(2)::before{content:"";position:absolute;bottom:0;left:10px;width:calc(100% - 20px);height:1px;background:#D4DAE8;}
.overview .stats > div:nth-child(3)::before{content:"";position:absolute;bottom:0;left:10px;width:calc(100% - 10px);height:1px;background:#D4DAE8;}
.overview .stats > div:nth-child(3){padding-top:10px;padding-left:20px;padding-right:20px;}
.overview .stats > div:nth-child(4){padding-top:10px;}
.overview .stats > div:nth-child(5){width:36%;padding-top:10px;padding-left:20px;padding-right:20px;}
.overview .stats > div:nth-child(6){padding-left:20px;}
.overview .stats > div > div:first-child{padding-right:15px;font-family:'verlag-xlight';font-size:60px;background:-webkit-linear-gradient(45deg, #0768BA, #32B5EB);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.overview .stats > div > div:first-child span{font-size:40px;font-family:'verlag-xlight';}
.overview .stats > div > div:last-child{font-family:'verlag-light';font-size:19px;color:#606771;}

.performance{padding:90px 0;background:#011E40}
.performance .content:first-child{padding-bottom:20px;}
.performance .content:first-child > .col:first-child{width:33%;transform:translate(-50px,0);opacity:0}
.performance .content:first-child > .col:last-child{width:67%;transform:translate(50px,0);opacity:0}
.performance .content > .col.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.performance h2{font-weight:normal;font-family:'verlag-book';font-size:33px;background:-webkit-linear-gradient(45deg, #0768BA, #31B4EA);-webkit-background-clip: text;-webkit-text-fill-color: transparent;letter-spacing:0.2em;text-transform:uppercase;}
.performance h3{font-variant-numeric: lining-nums; margin-bottom:30px;text-transform:uppercase;font-size:17px;font-weight:normal;font-family:'verlag-bold';color:#fff;letter-spacing:0.2em;}
.performance h4{margin-bottom:1em;font-weight:normal;font-family:'verlag-xlight';font-size:39px;line-height:48px;color:#fff;letter-spacing:0.025em;}
.performance .btn-download{background:url(/i/download_white.svg) no-repeat calc(100% - 20px) calc(100% - 20px)/20px auto;margin:40px 0;transition:background-color 0.25s ease;display:inline-block;text-transform:uppercase;color:#fff;border:1px solid #29A9E4;padding:20px;font-size:15px;line-height:23px;letter-spacing:0.2em;width:calc(100% - 60px);max-width:400px;box-sizing:border-box;}
.performance .btn-download:hover{background-color:#29A9E4;}
.performance p{font-size:22px;color:#fff;font-family:'verlag-light';line-height:36px;}
.performance #chart1{margin-top:-50px;height:calc(100vh - 130px);position:relative}
.performance #chart3{display:none;}
.performance #chart4{display:none;}
.performance #chart1::after{content:"";display:block;width:100%;height:100%;position:absolute;top:0;left:0;z-index:2}
.performance #interactiveChart{position:relative;max-width:100% !important;}
.performance #table1{position:absolute;overflow:hidden;left:6%;top:60px;max-height:0;width:33%;transition:max-height 0.5s ease;}
.performance #table1.onA{max-height:70px;}
.performance #table1.onB{max-height:500px;}
.performance #table2{position:absolute;overflow:hidden;right:2%;top:45%;max-height:0;width:33%;transition:max-height 0.5s ease;}
.performance #table2.onA{max-height:70px;}
.performance #table2.onB{max-height:500px;}
.performance .t-contain{background:#2394CC;position:relative;width:calc(100% - 7px);}
.performance .t-contain::after{background:#2394CC;content:"";display:block;width:14px;height:14px;position:absolute;right:-7px;clip-path: polygon(50% 0%, 50% 100%, 100% 50%);background:#2ca8df;top:20px;}
.performance #table2 .t-contain{width:100%;margin-top:7px;}
.performance #table2 .t-contain:after{clip-path:polygon(0 50%, 50% 0, 100% 50%);top:-7px;left:calc(50% - 7px);}
.performance .t-contain p{padding:10px 40px;font-family:'verlag-light';font-size:16px;letter-spacing:0.01em;text-align:center;line-height:22px}
.performance table{width:100%;color:#fff;position:relative;}
.performance table::after{background:#fff;content:"";display:block;width:14px;height:14px;position:absolute;left:calc(50% - 7px);clip-path: polygon(0 50%, 50% 100%, 100% 50%);;;background:#fff;bottom:-7px;}
.performance th{padding:10px;font-family:'verlag-book';border-bottom:1px solid #F8FAFC;font-size:10px;line-height:14px;text-transform:uppercase;letter-spacing:0.2em;text-align:center;}
.performance td{z-index:1;position:relative;padding:10px;border-bottom:1px solid #8EC7E4;font-family:'verlag-light';font-size:16px;letter-spacing:0.01em;}
.performance td:last-child{text-align:center;}
.performance tr:last-child td{border-color:#F8FAFC}
.performance tbody tr:first-child{display:table-row;position:relative;width:100%;transform:scale(1);}
.performance tbody tr:first-child::after{transition:width 0.5s ease 0.25s;left:0;top:0;position:absolute;content:"";display:block;background:#53B9E8;width:0;height:100%;}
.performance .onB tbody tr:first-child::after{width:100%;}
.performance h5{font-variant-numeric: lining-nums;text-align:center;padding:20px 20px 5px 20px;font-weight:normal;font-family:'verlag-bold';font-size:13px;line-height:18px;text-transform:uppercase;letter-spacing:0.2em;color:#fff}
.performance .highcharts-plot-bands-0 > *{transition:all 0.5s ease;opacity:0}
.performance .highcharts-plot-bands-1 > *{transition:all 0.5s ease;opacity:0}

.performance2{padding:90px 0;}
.performance2 .content:first-child{transform:translate(0,50px);opacity:0}
.performance2 .content.in-view:first-child{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.performance2 .content:first-child > .col:first-child{width:33%}
.performance2 .content:first-child > .col:last-child{width:67%}
.performance2 .group{transform:translate(0,50px);opacity:0;}
.performance2 .group.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.performance2 h2{font-weight:normal;font-family:'verlag-book';font-size:33px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
.performance2 h3{font-variant-numeric: lining-nums; margin-bottom:30px;text-transform:uppercase;font-size:17px;font-weight:normal;font-family:'verlag-bold';color:#1f334c;letter-spacing:0.2em;}
.performance2 .content:nth-child(2) h3{transform:translate(0,50px);opacity:0;}
.performance2 h3.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.performance2 ul{list-style-type:none;}
.performance2 li{font-variant-numeric: lining-nums;max-width:180px;float:left;font-size:19px;line-height:24px;color:#606771;font-family:'verlag-light';margin-right:40px;}
.performance2 li span{margin-top:10px;}
.performance2 li > *{display:inline-block;max-width:160px;vertical-align:top;}
.performance2 li span{display:block}
.performance2 .c1{vertical-align:top;margin-right:10px;margin-top:13px;background:#29A9E4;display:inline-block;width:10px;height:10px;border-radius:5px;}
.performance2 .c2{vertical-align:top;margin-right:10px;margin-top:13px;background:#A6A6A6;display:inline-block;width:10px;height:10px;border-radius:5px;}
.performance2 .c3{vertical-align:top;margin-right:10px;margin-top:13px;background:#7F7F7F;display:inline-block;width:10px;height:10px;border-radius:5px;}
.performance2 .n{width:calc(100% - 20px);vertical-align:top;display:inline-block;}
.performance2 .content:first-child{padding-bottom:50px;}
.performance2 #chart2{margin-bottom:50px;height:400px;}
.performance2 .t-contain{overflow-x:auto;max-width:100%;margin-bottom:20px;}
.performance2 table{min-width:800px;width:100%}
.performance2 thead th{background:#13365F;color:#fff;text-transform:uppercase;font-size:13px;letter-spacing:0.1em;text-align:center;padding:10px 0;}
.performance2 .t-perf tr:first-child td{background:#F8FAFC;color:#1f334c;font-family:'verlag-book'}
.performance2 td{border-bottom:2px solid #E5E9F1;text-align:center;color:#606771;font-size:22px;line-height:36px;padding:10px 20px;font-family:'verlag-light'}
.performance2 .t-perf td:first-child{text-align:left}
.performance2 .t-perf{margin-bottom:50px;}
.performance2 .t-monthly thead th:last-child{border-left:1px solid #C0C9D7;background:#011E40}
.performance2 .t-monthly td:last-child{border-left:1px solid #E9EDF3;background:#F8FAFC} 
.performance2 .t-monthly td:first-child{color:#1f334c;font-family:'verlag-book';background:#F8FAFC;}
.performance2 .t-monthly td:nth-child(n+2){padding:20px 12px;}
.performance2 p.disclaimer{font-family:'verlag-lightit';font-size:17px;color:#606771;}
.performance2 .btn{box-sizing:border-box;margin:40px 0 0 0;transition:background-color 0.25s ease, color 0.25s ease;display:inline-block;text-align:center;text-transform:uppercase;color:#1f334c;border:1px solid #29A9E4;padding:20px;font-size:15px;letter-spacing:0.2em;width:100%;max-width:400px;}
.performance2 .btn:hover{background:#29A9E4;color:#fff;}

.portfolio{padding:90px 0;background:#F5F8FA}
.portfolio h2{font-weight:normal;font-family:'verlag-book';font-size:33px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
.portfolio p{font-size:22px;color:#606771;font-family:'verlag-light';line-height:36px;}
.portfolio .content:first-child{border-bottom:1px solid #E1E6EF;padding-bottom:90px;}
.portfolio .content:first-child > .col:first-child{width:33%;transform:translate(-50px,0);opacity:0}
.portfolio .content:first-child > .col:last-child{width:67%;transform:translate(50px,0);opacity:0}
.portfolio .content > .col.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.portfolio .content:nth-child(2){padding:90px 0 80px 0;display:flex;flex-direction:row;justify-content:center;transform:translate(0,50px);opacity:0}
.portfolio .content.in-view:nth-child(2){transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.portfolio .content:nth-child(2) > div:nth-child(n+2){max-width:170px;margin-left:50px;}
.portfolio .content:nth-child(2) img{width:310px;margin-top:10px;margin-right:50px;}
.portfolio .content:nth-child(2) h5{font-weight:normal;font-family:'verlag-xlight';font-size:52px;color:#41b2e7;}
.portfolio .content:nth-child(2) h5 span{font-size:34px;}
.portfolio .content:nth-child(2) p{color:#606771;font-family:'verlag-light';font-size:17px;line-height:24px;}
.portfolio h4{margin:30px 0;font-weight:normal;font-family:'verlag-bold';font-size:17px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
.portfolio .flips{background:#fff;border-top:1px solid #29A9E4;}
.portfolio .flips h5{margin:25px 0;line-height:39px;font-weight:normal;font-family:'verlag-light';font-size:39px;color:#fff;letter-spacing:0.025em;}
.portfolio .flips p{color:#fff;font-size:16px;font-family:'verlag-xlight';line-height:22px;margin-bottom:8px;}
.portfolio .flips p last-child{margin-bottom:0;}
.portfolio .flips p strong{font-size:22px;font-family:'verlag-book';font-weight:normal;}
.portfolio .flips p strong span{font-size:17px;}
.portfolio .flip-card {position:relative;display:inline-block;vertical-align:top;background-color: transparent;width:25%;height:330px;perspective: 1000px;}
.portfolio .flip-card-inner {position: relative;width: 100%;height: 100%;text-align: center;transition: transform 0.8s;transform-style: preserve-3d;}
/*.portfolio .flip-card:hover .flip-card-inner {transform: rotateY(180deg);} */
.portfolio .flip-card-front{transition:opacity 0.5s ease;padding:0 10px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center;align-items:center;position: absolute;width: 100%;height: 100%;-webkit-backface-visibility: hidden;backface-visibility: hidden;} 
.portfolio .flip-card-back {transition:opacity 0.5s ease;opacity:0;padding:0 10px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center;align-items:center;position: absolute;width: 100%;height: 100%;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.portfolio .flip-card:hover .flip-card-back{opacity:1}
.portfolio .flip-card:hover .flip-card-front{opacity:0;}
.portfolio .flip-card-front img{max-width:100%;}
.portfolio .flip-card-back{background-color:#29A9E4;}
.portfolio .flip-card::after{z-index:-1;content:"";position:absolute;height:calc(100% - 20px);top:10px;right:0;width:1px;background:#D4DAE8}
.portfolio .flip-card::before{z-index:-1;content:"";position:absolute;width:calc(100% - 20px);bottom:0;left:10px;height:1px;background:#EBEEF4;}
.portfolio .flip-card:nth-child(4n)::after{display:none}
.portfolio .flip-card:nth-last-child(-n+4)::before{display:none}

.facts{padding:90px 0;}
.facts .content{transform:translate(0,50px);opacity:0}
.facts .content.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.facts h2{margin-bottom:60px;font-weight:normal;font-family:'verlag-book';font-size:33px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
.facts table{width:100%;border-top:2px solid #9FDCF6;}
.facts td{padding:15px 30px;border-bottom:2px solid #EBEEF4;font-size:22px;color:#606771;font-family:'verlag-light'}
.facts td:first-child{border-right:1px solid #D7DCE9;color:#1f334c;font-family:'verlag-book';}
.facts tr:nth-child(even) td{background-color:#FBFCFD;}

.literature{padding:90px 0;background:url(/i/bg_literature.jpg) no-repeat center/cover fixed;}
.literature .content{transform:translate(0,50px);opacity:0}
.literature .content.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.literature h2{font-weight:normal;font-family:'verlag-book';font-size:33px;background:-webkit-linear-gradient(45deg, #0768BA, #31B4EA);-webkit-background-clip: text;-webkit-text-fill-color: transparent;letter-spacing:0.2em;text-transform:uppercase;}
.literature .boxes{margin:50px 0 0 0;display:flex;flex-direction:row;flex-wrap:wrap;align-content:flex-start}
.literature .boxes > a{height:120px;transition:background 0.25s ease;font-size:24px;color:#fff;font-family:'verlag-xlight';text-align:left;padding:40px;box-sizing:border-box;display:flex;flex-direction:row;flex-wrap:wrap;align-content:center;align-items:center;width:calc(33.33% - 14px);background:#032247 url(/i/download_color.svg) no-repeat calc(100% - 20px) calc(100% - 20px)/20px auto;vertical-align:top;margin-bottom:20px;margin-right:21px;}
.literature .boxes > a:nth-child(3n){margin-right:0;}
.literature .boxes > a:hover{background:#29A9E4 url(/i/download_white.svg) no-repeat calc(100% - 20px) calc(100% - 20px)/20px auto}
.literature .boxes > a.locked{background-image:url(/i/lock_color.svg);}
.literature .boxes > a.locked:hover{background-image:url(/i/lock_white.svg);}

.debt{padding:90px 0;}
.debt .btn{margin:40px 10px 0 10px;transition:background-color 0.25s ease, color 0.25s ease;display:inline-block;text-align:center;text-transform:uppercase;color:#1f334c;border:1px solid #29A9E4;padding:20px;font-size:15px;letter-spacing:0.2em;width:100%;max-width:400px;}
.debt .btn:hover{background:#29A9E4;color:#fff;}
.debt .content:first-child{padding-bottom:90px;}
.debt .content:first-child > .col:first-child{width:33%}
.debt .content:first-child > .col:last-child{width:67%}
.debt h2{font-weight:normal;font-family:'verlag-book';font-size:33px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
.debt p{margin-top:10px;font-size:22px;color:#616871;font-family:'verlag-light';line-height:36px;}
.debt h3{font-weight:normal;font-family:'verlag-light';font-size:39px;line-height:48px;color:#073d76;letter-spacing:0.025em;}
.debt h4{font-weight:normal;font-family:'verlag-bold';font-size:15px;color:#30a8e0;line-height:23px;letter-spacing:0.2em;}
.debt h5{font-size:22px;color:#061f3f;line-height:36px;font-weight:normal;font-family:'verlag-light'}
.debt .timeline{margin-bottom:50px;}
.debt .timeline p{transform:translate(0,50px);opacity:0;transition-duration:0.5s;transition-property:transform,opacity;font-size:19px;color:#616871;font-family:'verlag-light';line-height:30px;}
.debt .timeline h5{transform:translate(0,50px);opacity:0;transition-duration:0.5s;transition-property:transform,opacity;}
.debt .timeline h4{transform:translate(0,50px);opacity:0;transition-duration:0.5s;transition-property:transform,opacity;margin-bottom:8px;}
.debt .timeline > div > img{transform:translate(0,50px);opacity:0;transition-duration:0.5s;transition-property:transform,opacity;}
.debt .timeline > div{padding:0 20px;display:inline-block;vertical-align:top;position:relative;box-sizing:border-box;}
.debt .timeline .l-line{transition-property:height;transition-duration:0.25s;position:absolute;left:0;top:0;width:1px;height:0;background:#D5DCEB}
.debt .timeline .b-line{transition-property:width;transition-duration:0.25s;position:absolute;left:0;bottom:0;height:3px;0;width:0;background:#2CA8DF}
.debt .timeline .t-line{transition-property:width;transition-duration:0.25s;position:absolute;right:0;bottom:0;height:3px;width:0;background:#2CA8DF}
.debt .timeline label{opacity:0;transition-property:opacity;transition-duration:0.5s;position:absolute;left:0;transform:translate(-50%,0);top:340px;max-width:145px;color:#616871;font-family:'verlag-light';font-size:19px;line-height:24px;text-align:center;}
.debt .timeline label span{color:#30a8e0;display:block;}
.debt .timeline .icon{opacity:0;transition-property:opacity;transition-duration:0.5s;z-index:1;width:72px;height:72px;background-repeat:no-repeat;background-position:center;background-size:100%;position:absolute;left:0;transform:translate(-50%,-50%);}
.debt .timeline .circle{opacity:0;transition-property:opacity;transition-duration:0.5s;z-index:1;width:15px;height:15px;background:#fff;border:1px solid #DBE1EE;border-radius:50%;position:absolute;left:50%;transform:translate(-50%,-50%);}
.debt .timeline .r-s-c{border-top:3px solid #2ca8df;border-bottom:3px solid #2ca8df;border-right:3px solid #2CA8DF; border-top-right-radius:77px; border-bottom-right-radius:77px;position:absolute;bottom:0;right:0;height:157px;width:157px;}
.debt .timeline .r-s-c::before{content:"";display:block;transition-property:height;transition-duration:0.25s;background:#fff;position:absolute;bottom:-3px;right:-3px;height:calc(100% + 6px);width:calc(100% + 6px);z-index:1;}
.debt .timeline .l-s-c{border-top:3px solid #2ca8df;border-bottom:3px solid #2ca8df;border-left:3px solid #2CA8DF; border-top-left-radius:139px; border-bottom-left-radius:139px;position:absolute;top:-23px;left:0;height:287px;width:287px;}
.debt .timeline .l-s-c::before{content:"";display:block;transition-property:height;transition-duration:0.25s;background:#fff;position:absolute;bottom:-3px;left:-3px;height:calc(100% + 6px);width:calc(100% + 6px);z-index:1;}
.debt .timeline .arrow{transition-property:opacity;transition-duration:0.25s;opacity:0;width:20px;height:20px;position:absolute;right:-3px;clip-path: polygon(50% 0%, 50% 100%, 100% 50%);background:#2ca8df;bottom:-8px;}
.debt .timeline > div:nth-child(1){height:460px;width:33.33%}
.debt .timeline > div:nth-child(1) .b-line{bottom:160px;}
.debt .timeline > div:nth-child(1) label:nth-of-type(2){left:50%;}
.debt .timeline > div:nth-child(1) .icon{top:calc(100% - 160px);background-image:url(/i/icon_2006.svg);}
.debt .timeline > div:nth-child(1) .circle{top:calc(100% - 160px);}
.debt .timeline > div:nth-child(2){height:460px;width:33.33%}
.debt .timeline > div:nth-child(2) .b-line{bottom:160px;}
.debt .timeline > div:nth-child(2) label{position:absolute;bottom:30px;left:0;transform:translate(-50%,0);}
.debt .timeline > div:nth-child(2) .icon{top:calc(100% - 160px);background-image:url(/i/icon_2015.svg);}
.debt .timeline > div:nth-child(3){height:460px;width:33.33%}
.debt .timeline > div:nth-child(3) .b-line{bottom:160px;}
.debt .timeline > div:nth-child(3) .t-line{right:77px;}
.debt .timeline > div:nth-child(3) .icon{top:calc(100% - 160px);background-image:url(/i/icon_2017.svg);}
.debt .timeline > div:nth-child(4){width:45%;padding-left:200px;height:270px;margin-top:20px;}
.debt .timeline > div:nth-child(4) .icon{left:180px;top:100%;background-image:url(/i/icon_2018.svg);}
.debt .timeline > div:nth-child(4) .l-line{left:180px;}
.debt .timeline > div:nth-child(4) .b-line{left:154px;}
.debt .timeline > div:nth-child(4) img{min-width:100px;margin-top:20px;}
.debt .timeline > div:nth-child(5){width:25%;height:270px;margin-top:20px;}
.debt .timeline > div:nth-child(5) .icon{top:100%;background-image:url(/i/icon_2019.svg);}
.debt .timeline > div:nth-child(5) img{min-width:60px;margin-top:20px;}
.debt .timeline > div:nth-child(6){width:30%;height:270px;margin-top:20px;}
.debt .timeline > div:nth-child(6) .circle{top:100%;left:0;}
.debt .timeline > div:nth-child(6) img{min-width:90%;margin-top:20px;}
/* timeline animations */
.debt .timeline.in-view > div:nth-child(1) .l-line{transition-delay:0s;height:calc(100% - 160px);}
.debt .timeline.in-view > div:nth-child(2) .l-line{transition-delay:0.25s;height:calc(100% - 160px);}
.debt .timeline.in-view > div:nth-child(3) .l-line{transition-delay:0.5s;height:calc(100% - 160px);}
.debt .timeline.in-view > div:nth-child(4) .l-line{transition-delay:2s;height:100%;}
.debt .timeline.in-view > div:nth-child(5) .l-line{transition-delay:2.25s;height:100%;}
.debt .timeline.in-view > div:nth-child(6) .l-line{transition-delay:2.5s;height:100%;}
.debt .timeline.in-view > div:nth-child(1) .b-line{transition-delay:0.25s;width:100%;}
.debt .timeline.in-view > div:nth-child(2) .b-line{transition-delay:0.5s;width:100%;}
.debt .timeline.in-view > div:nth-child(3) .b-line{transition-delay:0.75s;width:calc(100% - 77px);}
.debt .timeline.in-view .r-s-c::before{transition-delay:1s;height:0;}
.debt .timeline.in-view > div:nth-child(3) .t-line{transition-delay:1.25s;width:calc(100% - 77px);}
.debt .timeline.in-view > div:nth-child(2) .t-line{transition-delay:1.5s;width:100%;}
.debt .timeline.in-view > div:nth-child(1) .t-line{transition-delay:1.75s;width:calc(100% - 174px);}
.debt .timeline.in-view .l-s-c::before{transition-delay:2s;height:0;}
.debt .timeline.in-view > div:nth-child(4) .b-line{transition-delay:2s;width:calc(100% - 154px);}
.debt .timeline.in-view > div:nth-child(5) .b-line{transition-delay:2.25s;width:100%}
.debt .timeline.in-view > div:nth-child(6) .b-line{transition-delay:2.5s;width:100%}
.debt .timeline.in-view .arrow{transition-delay:2.75s;opacity:1;}
.debt .timeline.in-view > div:nth-child(1) label{transition-delay:0.5s;opacity:1}
.debt .timeline.in-view > div:nth-child(1) .circle{transition-delay:0.5s;opacity:1}
.debt .timeline.in-view > div:nth-child(1) .icon{transition-delay:0.5s;opacity:1}
.debt .timeline.in-view > div:nth-child(2) label{transition-delay:0.75s;opacity:1}
.debt .timeline.in-view > div:nth-child(2) .icon{transition-delay:0.75s;opacity:1}
.debt .timeline.in-view > div:nth-child(3) label{transition-delay:1s;opacity:1}
.debt .timeline.in-view > div:nth-child(3) .icon{transition-delay:1s;opacity:1}
.debt .timeline.in-view > div:nth-child(4) .icon{transition-delay:2.25s;opacity:1}
.debt .timeline.in-view > div:nth-child(5) .icon{transition-delay:2.5s;opacity:1}
.debt .timeline.in-view > div:nth-child(6) .icon{transition-delay:2.75s;opacity:1}
.debt .timeline.in-view > div:nth-child(1) h4{transition-delay:0.5s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(1) h5{transition-delay:0.5s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(1) p{transition-delay:0.5s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(2) h4{transition-delay:0.75s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(2) h5{transition-delay:0.75s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(2) p{transition-delay:0.75s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(3) h4{transition-delay:1s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(3) h5{transition-delay:1s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(3) p{transition-delay:1s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(4) h4{transition-delay:2.25s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(4) h5{transition-delay:2.25s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(4) img{transition-delay:2.25s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(5) h4{transition-delay:2.5s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(5) h5{transition-delay:2.5s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(5) img{transition-delay:2.5s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(6) h4{transition-delay:2.75s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(6) h5{transition-delay:2.75s;opacity:1;transform:translate(0,0);}
.debt .timeline.in-view > div:nth-child(6) img{transition-delay:2.75s;opacity:1;transform:translate(0,0);}

.debt .stats{margin-top:10px;display:flex;flex-direction:row;align-content:flex-start;flex-wrap:wrap;}
.debt .stats > div{padding-bottom:10px;display:flex;align-items:center;flex-direction:row;justify-content:flex-start;position:relative;vertical-align:top;max-width:25%;box-sizing:border-box;}
.debt .stats > div:nth-child(1){padding-right:20px;}
.debt .stats > div:nth-child(2){width:36%;padding-left:20px;padding-right:20px;}
.debt .stats > div:nth-child(3){padding-top:10px;padding-left:20px;padding-right:20px;}
.debt .stats > div > div:first-child{padding-right:15px;font-family:'verlag-xlight';font-size:60px;background:-webkit-linear-gradient(45deg, #0768BA, #32B5EB);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.debt .stats > div > div:first-child span{font-size:40px;font-family:'verlag-xlight';}
.debt .stats > div > div:last-child{font-family:'verlag-light';font-size:19px;color:#606771;}
.debt .downloads{margin:50px 0 0 0;display:flex;flex-direction:row;flex-wrap:wrap;align-content:flex-start}
.debt .downloads > a{height:240px;transition:background 0.25s ease, color 0.25s ease;font-size:30px;letter-spacing:0.01em;color:#032247;font-family:'verlag-xlight';text-align:left;padding:35px;box-sizing:border-box;width:calc(33.33% - 14px);background:#F4F8FB url(/i/download_color.svg) no-repeat calc(100% - 20px) calc(100% - 20px)/20px auto;vertical-align:top;margin-bottom:20px;margin-right:21px;}
.debt .downloads > a:nth-child(3n){margin-right:0;}
.debt .downloads > a span{font-family:'verlag-bold';font-size:13px;letter-spacing:0.1em;display:block;margin-bottom:10px;}
.debt .downloads > a:hover{color:#fff;background:#29A9E4 url(/i/download_white.svg) no-repeat calc(100% - 20px) calc(100% - 20px)/20px auto}

.invest{padding:90px 0;background:url(/i/bg_invest.jpg) no-repeat center/cover fixed;}
.invest .content > .col:first-child{width:33%;transform:translate(-50px,0);opacity:0}
.invest .content > .col:last-child{width:67%;transform:translate(50px,0);opacity:0}
.invest .content > .col.in-view{transform:translate(0,0) !important;opacity:1 !important;transition:all 0.5s ease;}
.invest h2{font-weight:normal;font-family:'verlag-book';font-size:33px;background:-webkit-linear-gradient(45deg, #0768BA, #31B4EA);-webkit-background-clip: text;-webkit-text-fill-color: transparent;letter-spacing:0.2em;text-transform:uppercase;}
.invest p{color:#fff;font-size:22px;line-height:36px;margin-bottom:36px;font-family:'verlag-light';}
.invest p strong{font-family:'verlag-bold';font-weight:normal;}
.invest p a{color:#29a9e4;font-family:'verlag-book'}
.invest h4{color:#fff;font-size:39px;line-height:48px;font-weight:normal;font-family:'verlag-xlight'}
.invest .btn-contact{margin-top:40px;transition:background-color 0.25s ease;display:inline-block;text-align:center;text-transform:uppercase;color:#fff;border:1px solid #29A9E4;padding:20px;font-size:15px;letter-spacing:0.2em;width:100%;max-width:300px;}
.invest .btn-contact:hover{background:#29A9E4}

.footnotes{background:#021834;color:#606771;padding:90px 0;}
.footnotes p{font-family:'verlag-light';font-size:17px;line-height:24px;}
.footnotes ul{margin-left:17px;font-family:'verlag-light';font-size:17px;line-height:24px;}

#shade{background:#000;visibility:hidden;opacity:0;position:fixed;left:0;top:0;width:100%;height:100%;z-index:10;transition:opacity 0.5s ease;}
#shade.on{visibility:visible;opacity:0.8}
#contact{padding:90px 20px;box-sizing:border-box;z-index:11;position:fixed;visibility:hidden;opacity:0;width:90vw;max-width:1300px;left:50%;height:auto;max-height:90vh;transform:translate(-50%,-50%);top:50%;background:#fff;}
#contact.on{visibility:visible;opacity:1}
#contact .btn-close,#login .btn-close{background:url(/i/close.svg) no-repeat center/cover;width:40px;height:40px;display:block;top:20px;right:20px;position:absolute;}
#contact h2{margin-bottom:60px;font-weight:normal;font-family:'verlag-book';font-size:33px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
#contact .fx-field, #login .fx-field{margin-bottom:22px;}
.fx-field .fx-input{width:100%;border:none;background:#F5F8FA;color:#606771;font-family:'verlag-light';font-size:22px;padding:20px;box-sizing:border-box;}
#contact .fx-field label, #login .fx-field label{padding:0;left:20px;color:#606771;font-family:'verlag-light';font-size:22px;top:15px;}
.fx-field label sup{color:#29a9e4;}
#contact .fx-input:focus ~ label, #contact .fx-input.hasData ~ label,#login .fx-input:focus ~ label, #login .fx-input.hasData ~ label {top:-22px !important;}
.fx-msg{top:calc(100% - 30px) !important;color:#ff0000;font-family:'verlag-book';right:10px;left:auto !important;z-index:1;}
#contact .fx-field{float:left;}
#contact .fx-field:nth-child(1){margin-right:20px;}
#contact .fx-field:nth-child(2){margin-right:20px;}
#contact .fx-field:nth-child(4){margin-right:20px;}
#contact .fx-field textarea{resize:none;height:240px;}
input[type=button]{cursor:pointer;background:#fff;transition:background-color 0.25s ease, color 0.25s ease;display:inline-block;text-align:center;text-transform:uppercase;color:#1f334c;border:1px solid #29A9E4;padding:20px;font-size:15px;letter-spacing:0.2em;width:100%;max-width:300px;}
input[type=button]:hover{background:#29A9E4;color:#fff;}

#login{padding:90px 20px;box-sizing:border-box;z-index:11;position:fixed;visibility:hidden;opacity:0;width:90vw;max-width:600px;left:50%;height:auto;max-height:90vh;transform:translate(-50%,-50%);top:50%;background:#fff;}
#login.on{visibility:visible;opacity:1}
#login p{font-size:22px;color:#606771;font-family:'verlag-light';line-height:36px;}
#login p a{color:#29A9E4;}
#login h2{margin:30px 0;font-weight:normal;font-family:'verlag-book';font-size:33px;color:#1f334c;letter-spacing:0.2em;text-transform:uppercase;}
#login input[type=button]{margin:30px 0;}

/*responsive adjustments*/
@media all and (max-width:1599px)
{
	.theater .btn-perf{bottom:50px}
	.debt,.performance,.performance2,.literature,.overview,.facts,.invest{overflow:hidden;}
}
@media all and (max-width:1320px)
{
	header{padding:20px 0;}
	header nav.n2{float:none;margin-top:10px} 
	nav.n2 li:first-child{margin-left:0;}
	nav.n2 a{padding-bottom:0;}
	section.nav{display:none;}
	.debt .timeline div label{transform:translate(-20px,0) !important;text-align:left;}
}
@media all and (max-width:1279px)
{
	.theater h1{margin-bottom:40px;}
	.theater h2{font-size:30px;line-height:40px;}
	.theater p{font-size:20px;line-height:32px;}
	.theater .col{padding-bottom:20px;}
	.overview .stats > div{width:50% !important}
	.overview .stats > div:nth-child(2){padding-right:0;}
	.overview .stats > div:nth-child(2)::after{display:none;}
	.overview .stats > div:nth-child(1)::after{content:"";position:absolute;top:0;right:0;height:calc(100% - 10px);width:1px;background:#D4DAE8;}
	.overview .stats > div:nth-child(3){padding-left:0;}
	.overview .stats > div:nth-child(3)::after{content:"";position:absolute;top:0;right:0;height:calc(100% - 10px);width:1px;background:#D4DAE8;}
	.overview .stats > div:nth-child(3)::before{left:0}
	.overview .stats > div:nth-child(4){padding-left:20px;}
	.overview .stats > div:nth-child(4)::after{display:none;}
	.overview .stats > div:nth-child(4)::before{content:"";position:absolute;bottom:0;left:10px;width:calc(100% - 10px);height:1px;background:#D4DAE8;}
	.overview .stats > div:nth-child(5){padding-left:0;}
	.overview .stats > div:nth-child(5)::after{content:"";position:absolute;top:10px;right:0;height:calc(100% - 10px);width:1px;background:#D4DAE8;}
	.debt h5{line-height:28px;}
	.debt .downloads > a{font-size:25px;}
}
@media all and (max-width:1023px)
{
	.performance .col{display:block !important;width:100% !important;}
	.performance2 .col{display:block !important;width:100% !important;}
}
@media all and (max-width:979px)
{
	#btn-menu{display:block}
	#main-nav{display:none;}
	.scroll.overtop header nav.n2{display:none;}
	footer .s1{padding:100px 0;}
	footer .s1 nav{display:none;}
	.theater .btn-perf{display:none;}
	.col{display:block !important;width:100% !important;}
	.theater .col{width:33.33% !important;display:inline-block !important};
	.overview h2{margin-bottom:30px;}
	.performance .scrollmagic-pin-spacer{min-height:0 !important;padding:0 !important;}
	.performance #chart1{margin-top:0;height:400px;position:relative}
	.performance #chart3{display:block;height:400px;position:relative}
	.performance #chart4{display:block;height:400px;position:relative}
	.performance #table1, .performance #table2{height:auto;max-height:500px;top:0;left:0;width:100%;position:relative;margin-top:50px;}
	.performance #table1 .t-contain{margin:0 0 7px 0;}
	.performance #table2 .t-contain{margin:0 0 7px 0;}
	.performance #table2 .t-contain:after{clip-path: polygon(0 50%, 51% 100%, 100% 50%);top:auto;bottom:-7px;left:calc(50% - 7px);}
	.performance #table1 .t-contain:after{clip-path: polygon(0 50%, 51% 100%, 100% 50%);top:auto;bottom:-7px;left:calc(50% - 7px);}
	.performance tbody tr:first-child::after{width:100%}
	.portfolio h2{margin-bottom:30px;}
	.portfolio .content:nth-child(2){flex-wrap:wrap;}
	.portfolio .content:nth-child(2) > div:first-child{width:100%}
	.portfolio .content:nth-child(2) > div:nth-child(2){margin-left:0}
	.portfolio .flip-card{width:50%;}
	.portfolio .flip-card:nth-child(4n)::after{display:block}
	.portfolio .flip-card:nth-last-child(-n+4)::before{display:block}
	.portfolio .flip-card:nth-child(2n)::after{display:none}
	.portfolio .flip-card:nth-last-child(-n+2)::before{display:none}
	
	.debt .timeline{position:relative;}
	.debt .timeline::after{content:"";position:absolute;left:24px;top:0;height:100%;width:2px;background:#2CA8DF}
	.debt .timeline > div{margin-top:0 !important;margin-bottom:50px;width:100% !important;display:block;height:auto !important;padding-left:60px;}
	.debt .timeline .r-s-c{display:none;}
  .debt .timeline .l-s-c{display:none;}
  .debt .timeline .b-line{display:none;}
  .debt .timeline .l-line{display:none;}
  .debt .timeline .t-line{display:none;}
  .debt .timeline .circle{display:none;}
  .debt .timeline > div .icon{top:25px !important;width:50px;height:50px;left:25px;}
  .debt .timeline > div label{margin-top:10px;left:0 !important;width:48%;position:relative !important;display:inline-block;max-width:50%;transform:none !important;top:0;}
  .debt .timeline > div:nth-child(4) .icon{left:25px;}
  .debt .timeline > div:nth-child(4){margin-top:0;padding-left:60px;}
  .debt .timeline > div:nth-child(6) img{max-width:100%}
  .debt .timeline > div:nth-child(6) .circle{display:block;left:25px;top:10px;opacity:1;}
  .debt .timeline .arrow{left:15px;bottom:0;clip-path: polygon(0 50%, 51% 100%, 100% 50%);}
  .debt .stats{display:block;}
  .debt .stats > div{width:100% !important;padding-right:0;width:100%;max-width:100%;padding-left:0 !important;}
  .debt .downloads{display:block;}
  .debt .downloads > a{display:block;width:100%;height:auto;}
}
@media all and (max-width:767px)
{
	.logo{width:220px;height:32px;}
	#btn-menu{top:1px;}
	.theater h1{margin-top:15px;font-size:25px;line-height:31px;margin-bottom:5px;}
	.theater h1 span{font-size:15px;line-height:19px;display:block;}
	.theater h2, .theater p{text-align:left;margin:0;}
	.theater h2 br,.theater p br{display:none;}
	.theater .col{border-bottom:1px solid rgb(92, 111, 136);background-size:50px auto !important;text-align:left;width:100% !important;display:block !important;background-position:left center !important;padding:15px 0 15px 70px !important;min-height:0;}
	.theater .col::before{display:none;}
	.theater .col:last-child{padding-bottom:0 !important;border-bottom:none;}
	.theater .col::after{display:none !important;}
	.theater h2{font-size:18px;line-height:26px;display:inline;}
	.theater p{font-size:18px;line-height:26px;display:inline;}
	
	.overview h2{font-size:25px;margin-bottom:30px;}
	.overview h3{font-size:24px;}
	.overview .stats > div{display:block;}
	.overview .stats > div > div:first-child{padding-right:0;}
	.overview .stats > div > div{text-align:center;}
	.overview .stats > div:nth-child(1),.overview .stats > div:nth-child(3),.overview .stats > div:nth-child(5){padding-right:10px}
	.overview .stats > div:nth-child(2),.overview .stats > div:nth-child(4),.overview .stats > div:nth-child(6){padding-left:10px;}
	.performance h2{font-size:25px;line-height:31px;}
	.performance h3{font-size:14px;line-height:18px;}
	.performance #chart1{margin-top:0;}
	.performance h4{font-size:30px;line-height:40px;}
	.performance .btn-download{width:100%;background-size:10px auto;}
	.performance2 h2{font-size:25px;}
	.performance2 h3{font-size:14px;}
	.performance2 li{float:none;max-width:100%;margin-right:0;}
	.performance2 li > *{max-width:100%}
	.performance2 .highcharts-axis-labels span{font-size:18px !important;}
	.performance2 .t-perf tr:first-child td{width:200px;}
	.performance2 #chart2{min-width:700px;}
	.performance2 .c-contain{overflow-x:auto;width:100%}
	.portfolio h2{font-size:25px;line-height:31px;}
	.portfolio .content:nth-child(2) img{width:220px;}
	.portfolio .content:nth-child(2) > div:nth-child(3),.portfolio .content:nth-child(2) > div:nth-child(4){margin-left:30px}
	.facts h2{font-size:25px;}
	.literature h2{font-size:25px;}
	.literature .boxes > a{width:calc(50% - 10px);margin-right:20px;}
	.literature .boxes > a:nth-child(3n){margin-right:20px;}
	.literature .boxes > a:nth-child(even){margin-right:0;}
	.debt h2{font-size:25px;line-height:31px;margin-bottom:30px;}
	.debt h2 br{display:none;}
	.debt h3{font-size:24px;line-height:28px;}
	.debt .btn{margin:40px 0 0 0;box-sizing:border-box;}
	.invest h2{font-size:25px;line-height:31px;margin-bottom:30px;}
	.invest h4{font-size:24px;line-height:28px;}
}
@media all and (max-width:470px)
{
	.overview .stats > div > div:last-child{font-size:16px}
	.portfolio .content:nth-child(2) > div{display:flex;flex-direction:row;align-content:center;justify-content:flex-start;margin-bottom:10px;max-width:100% !important;width:100% !important;margin-left:0 !important;}
	.portfolio .content:nth-child(2) > div p{margin-left:15px;padding-top:10px;}
	.portfolio .content:nth-child(2) > div:last-child{margin-bottom:0;}
	.portfolio .flip-card{width:100%;height:260px}
	.portfolio .flip-card::after{display:none !important}
	.portfolio .flip-card:nth-last-child(-n+2)::before{display:block;}
	.portfolio .flip-card:nth-last-child(-n+1)::before{display:none}
	.facts td{padding:10px 20px;font-size:20px}
	.literature .boxes > a{width:100% !important;margin-right:0 !important;}
  .invest .btn-contact{box-sizing:border-box;}
}	


/* newly added by abi */
#tnc {
    margin-top: 11rem;
}

.termsDiv p {
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#tnc header {

    background: #fff;
    box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 10%);
}

#tnc .logo {
    background-image: url(/i/cliffwater-logo_color.svg);
}

#tnc footer .logo {
    background: url(/i/cliffwater-logo_white.svg) no-repeat center/cover;
}

#tnc header nav a {
    color: #1f334c;
}

#tnc.scroll.overtop header nav.n2 {
    display: none;
}

#tnc.scroll.overtop header nav.n1 {
    display: none;
}